### Exercícios - Moavi

1 - Frequency sort

In [1]:
def frequency_sort(items):
    items.sort() # ordena os itens da lista em ordem crescente e os agrupa
    ordered = sorted(items, key=items.count, reverse=True) # ordena os itens da lista por suas frequencias em ordem decrescente agrupados
    return ordered

list1 = [4, 6, 2, 2, 6, 4, 4, 4]

print(frequency_sort(list1))

[4, 4, 4, 4, 2, 2, 6, 6]

In [2]:
# Testes:

a = [4, 6, 2, 2, 6, 4, 4, 4]
b = [4, 6, 1, 2, 2, 1, 1, 6, 1, 1, 6, 4, 4, 1]
c = [17, 99, 42]
d = ['bob','bob','carl','alex','bob']

print('Teste 1 - Ok!') if frequency_sort(a) == [4, 4, 4, 4, 2, 2, 6, 6] else print('Erro')
print('Teste 2 - Ok!') if frequency_sort(b) == [1, 1, 1, 1, 1, 1, 4, 4, 4, 6, 6, 6, 2, 2] else print('Erro')
print('Teste 3 - Ok!') if frequency_sort(c) == [17, 42, 99] else print('Erro')
print('Teste 4 - Ok!') if frequency_sort(d) == ['bob','bob','bob','alex','carl']  else print('Erro')

Teste 1 - Ok!
Teste 2 - Ok!
Teste 3 - Ok!
Teste 4 - Ok!

2 - Reverse the vowels

In [3]:
def reverse_vowels(text):
    vogais = 'aeiouAEIOU'
    vogStr = ''
    for let in text: # Extrai as vogais da string e constroi uma nova string
        if let in vogais:
            vogStr += let
    inv_text = ''
    for let in text: # Constroi uma nova string a partir na string inicial
        if let in vogais:
            inv_text += vogStr[-1] # Coloca a ultima string no lugar da primeira na nova string
            vogStr = vogStr[:-1] # pula para a vogal anterior para a próxima verificação que retornar uma vogal
        else:
            inv_text += let # adiciona a letra verificada à string caso ela não seja uma vogal
    return inv_text

print(reverse_vowels('Bengt Hilgursson'))

Bongt Hulgirssen

In [4]:
# Testes:

a = 'Bengt Hilgursson'
b = 'Why do you laugh? I chose the death.'
c = 'These are the people you protect with your pain!'
d = 'We had to sacrifice a couple of miners to free Bolivia.'

print('Teste 1 - Ok!') if reverse_vowels(a) == 'Bongt Hulgirssen' else print('Erro')
print('Teste 2 - Ok!') if reverse_vowels(b) == 'Why da yee leogh? I chusa thu dooth.'  else print('Erro')
print('Teste 3 - Ok!') if reverse_vowels(c) == 'Thisa uro thi peoplu yoe protect weth year peen!' else print('Erro')
print('Teste 4 - Ok!') if reverse_vowels(d) == 'Wa hid ti socrefeco e ciople uf monars te frii Balovae.'  else print('Erro')

Teste 1 - Ok!
Teste 2 - Ok!
Teste 3 - Ok!
Teste 4 - Ok!

3 - Collapse positive integer intervals

In [14]:
def collapse_intervals(items):
    ini = []
    fin = []
    interv = []
    
    for i in range(len(items)):
        if items[i] != items[i-1] + 1:
            ini.append(items[i])
    
    items = items[::-1]
    for i in range(len(items)):
        if items[i] != items[i-1] - 1:
            fin.append(items[i])
    fin.sort()
    
    for j in range(len(ini)):
        if ini[j] == fin[j]:
            interv.append(str(ini[j]))
        else:
            interv.append(str(ini[j]) +'-' + str(fin[j]))
    
    res = ','.join(interv)
    
    return res

teste = [1, 2, 4, 6, 7, 8, 9, 10, 12, 13]

print(collapse_intervals(teste))

1-2,4,6-10,12-13

In [16]:
# Testes:

a = [1, 2, 4, 6, 7, 8, 9, 10, 12, 13]
b = [42]
c = [3, 5, 6, 7, 9, 11, 12, 13]
d = []
e = range(1, 1000001)

print('Teste 1 - Ok!') if collapse_intervals(a) == '1-2,4,6-10,12-13' else print('Erro')
print('Teste 2 - Ok!') if collapse_intervals(b) == '42' else print('Erro')
print('Teste 3 - Ok!') if collapse_intervals(c) == '3,5-7,9,11-13' else print('Erro')
print('Teste 4 - Ok!') if collapse_intervals(d) == '' else print('Erro')
print('Teste 5 - Ok!') if collapse_intervals(e) == '1-1000000' else print('Erro')

Teste 1 - Ok!
Teste 2 - Ok!
Teste 3 - Ok!
Teste 4 - Ok!
Teste 5 - Ok!

4 - Calculate employee distribution

In [25]:
def calc_employee_dist(filepath):
    import pandas as pd
    import datetime as dt
    keys = range(0,1440,10)    
    data = pd.read_csv(filepath)
    data.columns = ['e1', 's1', 'e2', 's2']
    for i in data.columns:
        data[i] = pd.to_datetime(data[i])
        data[i] = data[i].dt.hour * 60 + data[i].dt.minute
    x = []
    for j in range(len(data)):
        y = []
        i = data['e1'].iloc[j]
        while i <= data['s1'].iloc[j]:
            y.append(i)
            i += 10
        x.append(y)

In [29]:
keys = [i for i in range(0,1440,10)]
len(keys)

144

In [36]:
import pandas as pd
data = pd.read_csv('data.csv')
data.columns = ['e1', 's1', 'e2', 's2']
data

      e1     s1     e2      s2
0  04:50  06:20  07:00  12:50
1  08:00  11:20  12:00  16:00
2  10:50  15:30  16:10  18:50
3  15:30  17:20  18:00  23:30
4  16:00  18:00  18:40   00:00

In [42]:
data.dtypes
data.columns

Index(['e1', 's1', 'e2', 's2'], dtype='object')

In [67]:
#x = data.columns
#x
import datetime as dt
for i in data.columns:
    data[i] = pd.to_datetime(data[i])
    data[i] = data[i].dt.hour * 60 + data[i].dt.minute
    
data

#data['e1'] = pd.to_datetime(data['e1'], format = "%H:%M")
#data

    e1    s1    e2    s2
0  290   380   420   770
1  480   680   720   960
2  650   930   970  1130
3  930  1040  1080  1410
4  960  1080  1120     0

In [74]:
data.dtypes

e1    int64
s1    int64
e2    int64
s2    int64
dtype: object

In [85]:
len(data)

5

In [95]:
x = []
for j in range(len(data)):
    y = []
    i = data['e1'].iloc[j]
    while i <= data['s1'].iloc[j]:
        y.append(i)
        i += 10
    x.append(y)
    
x = pd.DataFrame(x)

x

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,290,300,310,320,330,340,350,360,370,380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,480,490,500,510,520,530,540,550,560,570,...,670.0,680.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,650,660,670,680,690,700,710,720,730,740,...,840.0,850.0,860.0,870.0,880.0,890.0,900.0,910.0,920.0,930.0
3,930,940,950,960,970,980,990,1000,1010,1020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,960,970,980,990,1000,1010,1020,1030,1040,1050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN