Bibliotecas:

In [2]:
import pandas as pd
import pandera as pa

## Extração:

In [6]:
df = pd.read_json("DataSetTheNews.json")
df

,first_name,last_name,email,Entry Date,Last Opened,Open Rate,Newsletter,Entry Channel
0,Chaddy,Smithe,csmithe0@census.gov,24/01/2022,23/09/2021,0.88,the news,GoogleAds
1,Shir,Halloran,shalloran1@narod.ru,10/07/2021,02/01/2022,0.02,the bizness,Referral
2,Gusti,Schwanden,gschwanden2@feedburner.com,01/05/2022,04/08/2021,0.81,the champs,Referral
3,Ted,Kettles,tkettles3@noaa.gov,15/05/2022,15/03/2022,0.20,the bizness,Referral
4,Virginia,Glencorse,vglencorse4@redcross.org,26/06/2022,22/02/2022,0.99,the news,Referral
...,...,...,...,...,...,...,...,...
995,Ashla,Boulds,abouldsrn@army.mil,01/09/2021,05/06/2022,0.96,the champs,Facebook
996,Manya,Sainthill,msainthillro@wikia.com,27/01/2022,05/05/2022,0.93,the news,Organic
997,None,Fergusson,None,23/08/2021,17/02/2022,0.76,the news,Referral
998,Dianna,Beardsell,dbeardsellrq@nih.gov,24/06/2022,27/06/2022,0.70,the bizness,Insta
999,Kary,Catcherside,kcatchersiderr@mit.edu,27/05/2022,16/09/2021,0.83,the bizness,Facebook

Tipos de Dados:

In [8]:
df.dtypes

first_name        object
last_name         object
email             object
Entry Date        object
Last Opened       object
Open Rate        float64
Newsletter        object
Entry Channel     object
dtype: object

Converter Datas:

In [21]:
df['Entry Date'] = pd.to_datetime(df['Entry Date'], format = "%d/%m/%Y")
df['Last Opened'] = pd.to_datetime(df['Last Opened'], format = "%d/%m/%Y")
df.head()

,first_name,last_name,email,Entry Date,Last Opened,Open Rate,Newsletter,Entry Channel
0,Chaddy,Smithe,csmithe0@census.gov,2022-01-24,2021-09-23,0.88,the news,GoogleAds
1,Shir,Halloran,shalloran1@narod.ru,2021-10-07,2022-01-02,0.02,the bizness,Referral
2,Gusti,Schwanden,gschwanden2@feedburner.com,2022-01-05,2021-08-04,0.81,the champs,Referral
3,Ted,Kettles,tkettles3@noaa.gov,2022-05-15,2022-03-15,0.20,the bizness,Referral
4,Virginia,Glencorse,vglencorse4@redcross.org,2022-06-26,2022-02-22,0.99,the news,Referral

Criando Colunas:

In [31]:
df['fullName'] = df['first_name'] + ' ' + df['last_name']
df['fullName']

0           Chaddy Smithe
1           Shir Halloran
2         Gusti Schwanden
3             Ted Kettles
4      Virginia Glencorse
              ...
995          Ashla Boulds
996       Manya Sainthill
997                   NaN
998      Dianna Beardsell
999      Kary Catcherside
Name: fullName, Length: 1000, dtype: object

Validação:

In [32]:
df.dtypes

first_name               object
last_name                object
email                    object
Entry Date       datetime64[ns]
Last Opened      datetime64[ns]
Open Rate               float64
Newsletter               object
Entry Channel            object
fullName                 object
dtype: object

In [33]:
schema = pa.DataFrameSchema(
    columns= {
'first_name':pa.Column(pa.String, nullable=True),
'last_name': pa.Column(pa.String, nullable=True),
'email': pa.Column(pa.String, nullable=True),
'Entry Date': pa.Column(pa.DateTime, nullable=True),
'Last Opened': pa.Column(pa.DateTime, nullable=True),
'Open Rate': pa.Column(pa.Float64, nullable=True),
'Newsletter': pa.Column(pa.String, nullable=True),
'Entry Channel': pa.Column(pa.String, nullable=True),
'fullName': pa.Column(pa.String, nullable=True)
}
    )

In [34]:
schema.validate(df)

,first_name,last_name,email,Entry Date,Last Opened,Open Rate,Newsletter,Entry Channel,fullName
0,Chaddy,Smithe,csmithe0@census.gov,2022-01-24,2021-09-23,0.88,the news,GoogleAds,Chaddy Smithe
1,Shir,Halloran,shalloran1@narod.ru,2021-10-07,2022-01-02,0.02,the bizness,Referral,Shir Halloran
2,Gusti,Schwanden,gschwanden2@feedburner.com,2022-01-05,2021-08-04,0.81,the champs,Referral,Gusti Schwanden
3,Ted,Kettles,tkettles3@noaa.gov,2022-05-15,2022-03-15,0.20,the bizness,Referral,Ted Kettles
4,Virginia,Glencorse,vglencorse4@redcross.org,2022-06-26,2022-02-22,0.99,the news,Referral,Virginia Glencorse
...,...,...,...,...,...,...,...,...,...
995,Ashla,Boulds,abouldsrn@army.mil,2021-01-09,2022-06-05,0.96,the champs,Facebook,Ashla Boulds
996,Manya,Sainthill,msainthillro@wikia.com,2022-01-27,2022-05-05,0.93,the news,Organic,Manya Sainthill
997,None,Fergusson,None,2021-08-23,2022-02-17,0.76,the news,Referral,NaN
998,Dianna,Beardsell,dbeardsellrq@nih.gov,2022-06-24,2022-06-27,0.70,the bizness,Insta,Dianna Beardsell
999,Kary,Catcherside,kcatchersiderr@mit.edu,2022-05-27,2021-09-16,0.83,the bizness,Facebook,Kary Catcherside

## Limpeza:

Verificar Dados não Informados - Sumarizado:

In [37]:
df.isnull().sum()

first_name       27
last_name        61
email            27
Entry Date       61
Last Opened      61
Open Rate        61
Newsletter       61
Entry Channel    61
fullName         85
dtype: int64

Excluir registros com Dados não Informados:

In [41]:
df.dropna(subset=['last_name'], inplace=True)
df.dropna(subset=['first_name'], inplace=True)

In [42]:
df.isnull().sum()

first_name       0
last_name        0
email            0
Entry Date       0
Last Opened      0
Open Rate        0
Newsletter       0
Entry Channel    0
fullName         0
dtype: int64

In [43]:
df

,first_name,last_name,email,Entry Date,Last Opened,Open Rate,Newsletter,Entry Channel,fullName
0,Chaddy,Smithe,csmithe0@census.gov,2022-01-24,2021-09-23,0.88,the news,GoogleAds,Chaddy Smithe
1,Shir,Halloran,shalloran1@narod.ru,2021-10-07,2022-01-02,0.02,the bizness,Referral,Shir Halloran
2,Gusti,Schwanden,gschwanden2@feedburner.com,2022-01-05,2021-08-04,0.81,the champs,Referral,Gusti Schwanden
3,Ted,Kettles,tkettles3@noaa.gov,2022-05-15,2022-03-15,0.20,the bizness,Referral,Ted Kettles
4,Virginia,Glencorse,vglencorse4@redcross.org,2022-06-26,2022-02-22,0.99,the news,Referral,Virginia Glencorse
...,...,...,...,...,...,...,...,...,...
994,Emmery,Bursnoll,ebursnollrm@digg.com,2021-12-12,2022-01-02,0.15,the bizness,GoogleAds,Emmery Bursnoll
995,Ashla,Boulds,abouldsrn@army.mil,2021-01-09,2022-06-05,0.96,the champs,Facebook,Ashla Boulds
996,Manya,Sainthill,msainthillro@wikia.com,2022-01-27,2022-05-05,0.93,the news,Organic,Manya Sainthill
998,Dianna,Beardsell,dbeardsellrq@nih.gov,2022-06-24,2022-06-27,0.70,the bizness,Insta,Dianna Beardsell
999,Kary,Catcherside,kcatchersiderr@mit.edu,2022-05-27,2021-09-16,0.83,the bizness,Facebook,Kary Catcherside

## Exportar Dados:

In [44]:
df.to_csv('dados_limpos.csv', index=False, encoding='utf-8')